<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/WEB-INF/template/template.xhtml">
	<ui:define name="pageTitle">Newsletters</ui:define>

	<ui:define name="metadata">
		<f:metadata>
			<f:event listener="#{NewsLetters.doLoadNewsLetters()}"
				type="preRenderView"></f:event>
		</f:metadata>
	</ui:define>

	<ui:define name="pageContent">
		<div class="wrapper">
			<div class="row">
				<div class="col-md-12">
					<!--statistics start-->

					<div class="row state-overview">
						<ui:repeat id="newsletters-table" class="newsletters-table"
							value="#{NewsLetters.newsLettersList}" var="newsletter">
							<div class="col-md-12 col-sm-12">
								<div class="panel blue">
									<div class="symbol">
									<h:form>
									<h:commandLink 
									action="#{NewsLetters.doDeleteNewsLetter(newsletter)}"  styleClass="fa fa-times" />
										</h:form>
									</div>

									

										<div class="state-value" style="color: white;">
										<h:link outcome="modifNewsLetters.xhtml"
										includeViewParams="true" style="color: white;">
										<f:param name="newsletterId" value="#{newsletter.id}"></f:param>
											<div class="value">#{newsletter.name}</div>
											<div class="title">#{newsletter.URL}</div></h:link>
										</div>
									
								</div>

							</div>
						</ui:repeat>
					</div>
					<!--statistics end-->
				</div>
				<h:form>



					
					
				</h:form>
			</div>


		</div>
		<ui:include src="/WEB-INF/template/importScript.xhtml"></ui:include>

	</ui:define>
</ui:composition>