<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/WEB-INF/template/template.xhtml">
	<ui:define name="pageTitle">Claims Info</ui:define>
	<ui:define name="metadata">
		<f:metadata>
			<f:viewParam name="claimId"
				value="#{curclaim.claims.id}" />
			<f:event listener="#{curclaim.findClaim()}" type="preRenderView"></f:event>
		</f:metadata>
	</ui:define>
	<ui:define name="pageContent">
		<ui:include src="/WEB-INF/template/claimInfo.xhtml"></ui:include>
	</ui:define>
</ui:composition>