<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/WEB-INF/template/template.xhtml">
	<ui:define name="pageTitle">Manage Client</ui:define>
	<ui:define name="pageContent">
		<ui:include src="/WEB-INF/template/clientContnent.xhtml"></ui:include>
	</ui:define>
</ui:composition>