<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="pageTitle">Add Newsletters</ui:define>

	

	<ui:define name="pageContent">
		<div class="page-heading">
			<h3>Forms Layouts</h3>
			<ul class="breadcrumb">
				<li><a href="#">Forms</a></li>
				<li class="active">Forms Layouts</li>
			</ul>
		</div>
		<!-- page heading end-->

		<!--body wrapper start-->
		<section class="wrapper"> <!-- page start-->




		
				




					<div class="row">
						<div class="col-lg-12">
							<section class="panel"> <header class="panel-heading">
							Add Newsletters </header>
							<div class="panel-body">

								<h:form class="form-horizontal adminex-form" method="get"
									enctype="multipart/form-data" id="inputForm">
									<div class="form-group">
										<label class="col-sm-2 col-sm-2 control-label">Newsletters
											Name</label>
										<div class="col-sm-10">
											<input class="form-control" type="text"
												jsf:value="#{AddNewsLetters.newsletter.name}" />
										</div>
									</div>


									<div class="form-group">
										<label class="col-sm-2 col-sm-2 control-label">Newsletters
											URL</label>
										<div class="col-sm-10">
											<input class="form-control" type="text"
												jsf:value="#{AddNewsLetters.newsletter.URL}" />
										</div>
									</div>


									<h:commandButton id="submit"
										action="#{AddNewsLetters.doCreateNewsLetter()}"
										styleClass="center btn btn-success" value="Add" />




									
								</h:form>
							</div>
							</section>





						</div>
					</div>
					<!-- page end-->
				</section>
	</ui:define>
</ui:composition>