<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/WEB-INF/template/template.xhtml">
	<ui:define name="pageTitle">HOME</ui:define>
	<ui:define name="pageContent">
		<h:form id="inputForm" enctype="multipart/form-data">

       <!-- inputFile tag to upload file -->
		Upload File 
		<h:inputFile id="file" 
		             label="file"
			         value="#{inputBean.part}" 
			         >
            <!-- FileUploadValidator for file validation -->
		    <f:validator validatorId="FileUploadValidator" />
		</h:inputFile>
		<h:message style="color: red" for="file" /><br />

		<h:commandButton id="submit" 
		                 action="#{inputBean.uploadFile}"
			             value="upload file" /><br />

        <!-- status message of file upload; rendered if message is set -->
		
	</h:form>


	</ui:define>
</ui:composition>
