<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<title><ui:insert name="pageTitle">Welcome</ui:insert></title>
	<ui:include src="/WEB-INF/template/imports.xhtml" />
</h:head>
<body>

	<div class="container">
		
		<h:form id="loginFormId" class="form-signin" action="index.html">
			<div class="form-signin-heading text-center">
				<h1 class="sign-title">Sign In</h1>
				<h:graphicImage name="images/login-logo.png" alt="" />
			</div>
			<center>
					<h:message showSummary="true" showDetail="false"
						errorClass="alert alert-danger" for="loginFormId:loginSubmitId" />
				</center>
			<div class="login-wrap">
				<input  jsf:id="loginEmailId" jsf:value="#{auth.login}" type="text" class="form-control" placeholder="User ID"
					autofocus="true" /> 
					<input jsf:id="loginPasswordId" jsf:value="#{auth.password}" type="password" class="form-control"
					placeholder="Password" />

<h:commandButton  id="loginSubmitId" action="#{auth.doAuthenticate()}" value="Login" class="btn btn-lg btn-login btn-block">
				
				
					<i class="fa fa-check"></i>
				</h:commandButton>

				<div class="registration">
					Not a member yet? <a class="" href="registration.html"> Signup
					</a>
				</div>
				<label class="checkbox"> <input type="checkbox"
					value="remember-me" /> Remember me <span class="pull-right">
						<a data-toggle="modal" href="#myModal"> Forgot Password?</a>

				</span></label>
			</div>

			<!-- Modal -->
			<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog"
				tabindex="-1" id="myModal" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
							<h4 class="modal-title">Forgot Password ?</h4>
						</div>
						<div class="modal-body">
							<p>Enter your e-mail address below to reset your password.</p>
							<input type="text" name="email" placeholder="Email"
								autocomplete="off" class="form-control placeholder-no-fix" />
						</div>
						<div class="modal-footer">
							<button data-dismiss="modal" class="btn btn-default"
								type="button">Cancel</button>
							<button class="btn btn-primary" type="button">Submit</button>
						</div>
					</div>
				</div>
			</div>
			<!-- modal -->

		</h:form>

	</div>



	<!-- Placed js at the end of the document so the pages load faster -->

	<!-- Placed js at the end of the document so the pages load faster -->
	<h:outputScript name="js/jquery-1.10.2.min.js"></h:outputScript>
	<h:outputScript name="js/bootstrap.min.js"></h:outputScript>
	<h:outputScript name="js/modernizr.min.js"></h:outputScript>

</body>
</html>
