<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/WEB-INF/template/template.xhtml">


	<ui:define name="pageTitle">Currencies List</ui:define>

	<ui:define name="metadata">
		<f:metadata>
			<f:event listener="#{Currency.doLoadCurrenies()}"
				type="preRenderView"></f:event>
		</f:metadata>
	</ui:define>



	<ui:define name="pageContent">

		<div class="wrapper">
			<div class="row">
				<div class="col-md-8">
					<div class="panel deep-purple-box">
						<div class="panel-body">
							<div class="row">

								<div class="col-md-12 col-sm-12 ">
									<ul class="bar-legend">

					#{Currency.doLoadCurrenies()}
										<ui:repeat id="currenies-table" class="currenies-table"
											value="#{Currency.currencyList}" var="currency">
											<h:form>
											<li><div class="prog-avatar" style="font-size: 14pt;">
													<h:graphicImage name="#{currency.logo}" alt=""
														style="height: 80px; width: 100px;" />
													<strong>Name:  </strong>#{currency.name} <strong>
														Code Iso: </strong>#{currency.ind}

													<h:link styleClass="label label-success"
														outcome="modifCurrency.xhtml" value="Edit  "
														includeViewParams="true">
														<f:param name="currencyId" value="#{currency.id}"></f:param>
													</h:link>
													<h:outputText value="&#160;" />
													
													<h:commandLink styleClass="label label-danger " value=" Delete"
														action="#{Currency.doDeleteCurrency(currency)}" />
												</div></li></h:form>
										</ui:repeat>

									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		
		</div>
		<ui:include src="/WEB-INF/template/importScript.xhtml"></ui:include>

	</ui:define>

</ui:composition>