<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:c="http://java.sun.com/jstl/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>JSF 2.2 | File Upload Example</title>
</h:head>
<h:body>
	<h3>JSF 2.2 | File Upload Example</h3>
    <!-- Form enctype should be multipart/form-data -->
	<h:form id="inputForm" enctype="multipart/form-data">

       <!-- inputFile tag to upload file -->
		Upload File 
		<h:inputFile id="file" 
		             label="file"
			         value="#{inputBean.part}" 
			         >
            <!-- FileUploadValidator for file validation -->
		    
		</h:inputFile>
		<h:message style="color: red" for="file" /><br />

		<h:commandButton id="submit" 
		                 action="#{inputBean.uploadFile}"
			             value="upload file" /><br />

        <!-- status message of file upload; rendered if message is set -->
		<h:outputText value="#{inputBean.statusMessage}"
			          rendered="#{inputBean.statusMessage}" />
	</h:form>
</h:body>
</html>