<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">








	<!-- header section end-->

	<!-- page heading start-->
	<div class="page-heading">
		<h3>Forms Layouts</h3>
		<ul class="breadcrumb">
			<li><a href="#">Forms</a></li>
			<li class="active">Forms Layouts</li>
		</ul>
	</div>
	<!-- page heading end-->

	<!--body wrapper start-->
	<section class="wrapper"> <!-- page start-->




	<div class="row">
		<div class="col-lg-12">
			<section class="panel"> <header class="panel-heading">
			Add currency </header>
			<div class="panel-body">
				<h:form class="form-horizontal adminex-form" method="get"
					enctype="multipart/form-data" id="inputForm">
					<div class="form-group">
						<label class="col-sm-2 col-sm-2 control-label">Name</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" jsf:value="#{inputBean.name}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 col-sm-2 control-label">Code Iso</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" jsf:value="#{inputBean.code}"/>
						</div>
					</div>

					<div class="form-group last">
						<label class="control-label col-md-3">Image Upload</label>
						<div class="col-md-9">
							<div class="fileupload fileupload-new" data-provides="fileupload">
								<div class="fileupload-new thumbnail"
									style="width: 200px; height: 150px;">
									<img
										src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image"
										alt="" />
								</div>
								<div class="fileupload-preview fileupload-exists thumbnail"
									style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
								<div>

									<span class="btn btn-default btn-file"> <span
										class="fileupload-new"><i class="fa fa-paper-clip"></i>
											Select image</span> <span class="fileupload-exists"><i
											class="fa fa-undo"></i> Change</span> <input class="default"
										type="file" jsf:value="#{inputBean.part}"  jsf:id="file"/>

									</span> <a href="#" class="btn btn-danger fileupload-exists"
										data-dismiss="fileupload"><i class="fa fa-trash"></i>
										Remove</a>
								</div>
							</div>

						</div>

						<center>
						
						

						<h:commandButton id="submit" action="#{inputBean.uploadFile}" styleClass="center btn btn-success"
							value="Add" /></center>
						<br />

						<!-- status message of file upload; rendered if message is set -->
						<h:outputText value="#{inputBean.statusMessage}"
							rendered="#{inputBean.statusMessage}" />
					</div>





				</h:form>

			</div>
			</section>





		</div>
	</div>
	<!-- page end--> </section>





	<ui:include src="/WEB-INF/template/importScript.xhtml"></ui:include>
</ui:composition>
