<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
	
	<ui:repeat var="bank" value="#{Bank.bankcompanies}" >
	
		<div class="BANK item" style="height: 162px;">
 				<h:link pt:href="#myModal" pt:data-toggle="modal">
 					<div class="panel-body">
						
							<h4 style="color: cadetblue; font-style: oblique; font-family: -webkit-pictograph; font-size:20px;">
							#{bank.name} <span class="text-muted small"></span>
						</h4>
						<div class="media">
							<div class="media-body">

								#{bank.address} <abbr title="Phone">P:</abbr> #{bank.phone}

							</div>
						</div>
					</div>
				</h:link>
		</div>
	</ui:repeat>
	<ui:include src="/WEB-INF/template/importScriptIndex.xhtml"></ui:include>
</ui:composition>