<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">







	<!--body wrapper start-->
	<div class="wrapper">
		<div class="mail-box">
			<aside class="mail-nav mail-nav-bg-color"> <header
				class="header">
			<h4>Mailbox</h4>
			</header>
			<div class="mail-nav-body">
				<div class="text-center">
					<a class="btn btn-compose" href="mail_compose.html"> Compose
						Mail </a>
				</div>
				<ul class="nav nav-pills nav-stacked mail-navigation">
					<li class="active"><a href="mail.html"> <i
							class="fa fa-inbox"></i> Inbox <span
							class="label label-danger pull-right inbox-notification">4</span></a></li>
					<li><a href="#"> <i class="fa fa-certificate"></i>
							Important
					</a></li>
				</ul>


			</div>

			</aside>
			<section class="mail-box-info"> <header class="header">
			<div class="compose-btn pull-right">
				<a class="btn btn-sm btn-primary" href="mail_compose.html"><i
					class="fa fa-reply"></i> Reply</a>
			</div>
			<div class="btn-toolbar">
				<h4 class="pull-left">
					<h:outputText value=" #{curclaim.claims.message}" />
				</h4>
			</div>
			</header> <section class="mail-list">
			<div class="mail-sender">
				<div class="row">
					<div class="col-md-8">
						<img src="images/avatar-mini.jpg" alt="" /> <strong>#{curclaim.claims.client.firstName}
							#{curclaim.claims.client.lastName}</strong> <span>[#{curclaim.claims.client.mail}]</span>
						to <strong>me</strong>
					</div>
					<div class="col-md-4">
						<p class="date">#{curclaim.claims.date_claim}</p>
					</div>
				</div>
			</div>
			<div class="view-mail">

				Hello Admin,
				<p> <h:outputText
						value="#{curclaim.claims.textClaims}" escape="true" /></p>
				

				Cordialement.
			</div>

			<div class="compose-btn pull-left">
			<h:form>
				<a href="mail_compose.html" jsf:action="newReclamation" class="btn btn-sm btn-primary"><i
					class="fa fa-reply"></i> Reply</a></h:form>
			</div>
			</section> </section>
		</div>

	</div>

	<ui:include src="/WEB-INF/template/importScriptIndex.xhtml"></ui:include>
</ui:composition>
