<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">
	<!--body wrapper start-->
	<div class="wrapper">
		#{auth.doAllClient()}


		<div class="row states-info">
			<div class="col-md-3">
				<div class="panel green-bg">
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-4">
								<i class="fa fa-money"></i>
							</div>
							<div class="col-xs-8">
								<span class="state-title"> Activate Client</span>
								<h4>#{auth.activateClients.size()}</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel blue-bg">
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-4">
								<i class="fa fa-tag"></i>
							</div>
							<div class="col-xs-8">
								<span class="state-title"> Deactivate Client </span>
								<h4>#{auth.deactivateClients.size()}</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel red-bg">
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-4">
								<i class="fa fa-gavel"></i>
							</div>
							<div class="col-xs-8">
								<span class="state-title"> Non Valid Client </span>
								<h4>#{auth.nonvalidClients.size()}</h4>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>



		<ul class="directory-list">
			<li><a href="#">a</a></li>
			<li><a href="#">b</a></li>
			<li><a href="#">c</a></li>
			<li><a href="#">d</a></li>
			<li><a href="#">e</a></li>
			<li><a href="#">f</a></li>
			<li><a href="#">g</a></li>
			<li><a href="#">h</a></li>
			<li><a href="#">i</a></li>
			<li><a href="#">j</a></li>
			<li><a href="#">k</a></li>
			<li><a href="#">l</a></li>
			<li><a href="#">m</a></li>
			<li><a href="#">n</a></li>
			<li><a href="#">o</a></li>
			<li><a href="#">p</a></li>
			<li><a href="#">q</a></li>
			<li><a href="#">r</a></li>
			<li><a href="#">s</a></li>
			<li><a href="#">t</a></li>
			<li><a href="#">u</a></li>
			<li><a href="#">v</a></li>
			<li><a href="#">w</a></li>
			<li><a href="#">x</a></li>
			<li><a href="#">y</a></li>
			<li><a href="#">z</a></li>
		</ul>

		<div class="directory-info-row">
			<div class="row">
				<ui:repeat value="#{client.allClients}" rules="all" var="book">
					<div class="col-md-6 col-sm-6">
						<div class="panel">
							<div class="panel-body">






								<h4>
									#{book.firstName} #{book.lastName} <span
										class="text-muted small"> - #{book.clientLogin}</span>
								</h4>
								<div class="media">
									<h:link outcome="singelClient.xhtml" includeViewParams="true">
										<h:graphicImage class="thumb media-object"
											name="#{book.image}" alt="" />
										<f:param name="clientId" value="#{book.id}"></f:param>
									</h:link>
									<div class="media-body">
										<address>
											<strong>#{book.wallet.walletValue}</strong><br />
											#{book.address.street}<br /> #{book.address.town},
											#{book.address.country} <br /> <abbr title="Phone">P:</abbr>
											4567890
										</address>
										<ul class="social-links">
											<li><a title="" data-placement="top"
												data-toggle="tooltip" class="tooltips" href=""
												data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
											<li><a title="" data-placement="top"
												data-toggle="tooltip" class="tooltips" href=""
												data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
											<li><a title="" data-placement="top"
												data-toggle="tooltip" class="tooltips" href=""
												data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
											<li><a title="" data-placement="top"
												data-toggle="tooltip" class="tooltips" href=""
												data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</ui:repeat>



			</div>
		</div>
	</div>
	<!--body wrapper end-->


	<ui:include src="/WEB-INF/template/importScript.xhtml"></ui:include>
</ui:composition>
