<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<!--body wrapper start-->
	<div class="wrapper">
		#{auth.doAllClient()}


		<div class="row states-info">
			<div class="col-md-3">
				<div class="panel green-bg">
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-4">
								<i class="fa fa-money"></i>
							</div>
							<div class="col-xs-8">
								<span class="state-title"> Activate Client</span>
								<h4>#{auth.activateClients.size()}</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel blue-bg">
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-4">
								<i class="fa fa-tag"></i>
							</div>
							<div class="col-xs-8">
								<span class="state-title"> Deactivate Client </span>
								<h4>#{auth.deactivateClients.size()}</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel red-bg">
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-4">
								<i class="fa fa-gavel"></i>
							</div>
							<div class="col-xs-8">
								<span class="state-title"> Non Valid Client </span>
								<h4>#{auth.nonvalidClients.size()}</h4>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>



		<div class="row">
			<div class="col-sm-12">
				<section class="panel"> <header class="panel-heading">
				DataTables hidden row details example <span class="tools pull-right">
					<a href="javascript:;" class="fa fa-chevron-down"></a> <a
					href="javascript:;" class="fa fa-times"></a>
				</span> </header>
				<div class="panel-body">
					<div class="adv-table">
						<table class="display table table-bordered" id="hidden-table-info">
							<thead>
								<tr>
									<th>Client Login</th>
									<th>First Name Last Name</th>
									<th class="hidden-phone">Registration Date</th>
									<th class="hidden-phone">Wallet Value</th>
									<th class="hidden-phone">State</th>
								</tr>
							</thead>
							<tbody>

								<ui:repeat value="#{auth.deactivateClients}" rules="all"
									var="book">
									<tr class="gradeA">

										<td>#{book.clientLogin}</td>
										<td>#{book.firstName} #{book.lastName}</td>
										<td>#{book.registrationDate}</td>
										<td class="center hidden-phone">#{book.wallet.walletValue}
											TND</td>
										<td class="center hidden-phone">
											<h:form><h:commandLink  styleClass="label label-warning label-mini"
													action="#{auth.doActivateClient(book.id)}"
													value="Deactivate" />
																	</h:form>
												
												
										</td>


									</tr>
								</ui:repeat>
								<ui:repeat value="#{auth.nonvalidClients}" var="book">
									<tr class="gradeA">

										<td>#{book.clientLogin}</td>
										<td>#{book.firstName} #{book.lastName}</td>
										<td>#{book.registrationDate}</td>
										<td class="center hidden-phone">#{book.wallet.walletValue}
											TND</td>
										<td class="center hidden-phone"> <span
											class="label label-danger label-mini">Not Valid </span></td>


									</tr>
								</ui:repeat>
								<ui:repeat value="#{auth.activateClients}" var="book" >
									<tr class="gradeA">

										<td>#{book.clientLogin}</td>
										<td>#{book.firstName} #{book.lastName}</td>
										<td>#{book.registrationDate}</td>
										<td class="center hidden-phone">#{book.wallet.walletValue}
											TND</td>
										<td class="center hidden-phone"><h:form><h:commandLink
													 action="#{auth.doDeActivateClient(book.id)}" styleClass="label label-success label-mini"
												
													value="Activate" />
								
												 </h:form>  </td>


									</tr>
								</ui:repeat>


							</tbody>
						</table>

					</div>
				</div>
				</section>
			</div>
		</div>
	</div>
	<!--body wrapper end-->


	<ui:include src="/WEB-INF/template/listClientScript.xhtml"></ui:include>
</ui:composition>
