<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Media Manager
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                                <a href="javascript:;" class="fa fa-times"></a>
                             </span>
                        </header>
                        <div class="panel-body">

                            <ul id="filters" class="media-filter">
                                <li><h:form id="allId"><h:commandLink action="#{Bank.doShowAll()}" value="All"  pt:data-filter="*"/></h:form></li>
                                <li><h:form id="BankId"><h:commandLink action="#{Bank.doShowBanks()}" value="BANK" pt:data-filter=".BANK"/></h:form></li>
                                <li><h:form id="NonBank"><h:commandLink action="#{Bank.doShowNonBank()}" value="NONBANK" pt:data-filter=".NONBANK"/></h:form></li>
                                
                               
                            </ul>

                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-check-square-o"></i> Select all</button>
                                <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-folder-open"></i> Add New</button>
                                <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-trash-o"></i> Delete</button>
                                <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-upload"></i> Upload New File</button>
                            </div>


<!-- content you need -->
							
                            <div id="gallery" class="media-gal">
                              
                               <h:form rendered="#{Bank.visibleBank}"><ui:include src="/WEB-INF/template/BankCompanyContent.xhtml"></ui:include></h:form>
                             <h:form rendered="#{Bank.visibleNonBank}"><ui:include src="/WEB-INF/template/NonBankCompanyContent.xhtml"></ui:include></h:form>    
   								
                            </div>
                            
                            
<!-- content you need -->
                            <div class="col-md-12 text-center clearfix">
                                <ul class="pagination">
                                    <li><a href="#">«</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                            </div>

                            <!-- Modal -->
                           <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="#{bank.id}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                            <h4 class="modal-title">Company </h4>
                                        </div>

                                        <div class="modal-body row">

                                            <div class="col-md-5 img-modal">
                                                <a href="#" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit Image</a>
                                                <a href="#" class="btn btn-white btn-sm"><i class="fa fa-eye"></i> View Full Size</a>

                                                <p class="mtop10"><strong>Company Name:</strong> #{bank.name}</p>
                                                <p><strong>Address:</strong> #{bank.address}</p>
                                                <p><strong>Phone</strong> #{bank.phone}</p>
                                                <p><strong>BOSS</strong> <a href="#">#{bank.leadership}</a></p>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="form-group">
                                                    <label> Name</label>
                                                </div>
                                                <div class="form-group">
                                                    <label> Tittle Text</label>
                                                </div>
                                                <div class="form-group">
                                                    <label> Description</label>
                                                    <textarea rows="2" class="form-control"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label> Link URL</label>
                                                </div>
                                                <div class="pull-right">
                                                    <button class="btn btn-danger btn-sm" type="button">Delete</button>
                                                    <button class="btn btn-success btn-sm" type="button">Save changes</button>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- modal -->
                            <!-- modal -->

                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--body wrapper end-->


<!-- scripts -->
<!-- Placed js at the end of the document so the pages load faster -->
<h:outputScript name="js/jquery-1.10.2.min.js"></h:outputScript>
<h:outputScript name="js/jquery-ui-1.9.2.custom.min.js"></h:outputScript>
<h:outputScript name="js/jquery-migrate-1.2.1.min.js"></h:outputScript>
<h:outputScript name="js/bootstrap.min.js"></h:outputScript>
<h:outputScript name="js/modernizr.min.js"></h:outputScript>
<h:outputScript name="js/jquery.nicescroll.js"></h:outputScript>

<h:outputScript name="js/jquery.isotope.js"></h:outputScript>

<!--common scripts for all pages-->
<h:outputScript name="js/scripts.js"></h:outputScript>

<h:outputScript pt:type="text/javascript">
    $(function() {
        var $container = $('#gallery');
        $container.isotope({
            itemSelector: '.item',
            animationOptions: {
                duration: 750,
                easing: 'linear',
                queue: false
            }
        });

        // filter items when filter link is clicked
        $('#filters a').click(function() {
            var selector = $(this).attr('data-filter');
            $container.isotope({filter: selector});
            return false;
        });
    });
</h:outputScript>
	<ui:include src="/WEB-INF/template/importScriptIndex.xhtml"></ui:include>
</ui:composition>