<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="pageTitle">Edit Admin Profile</ui:define>


	<ui:define name="pageContent">

		<!-- page heading end-->

		<!--body wrapper start-->
		 <!-- page start-->










		<div class="row">
			<div class="col-lg-12">
				<section class="panel"> <header class="panel-heading">
				Edit Admin Profil </header>
				<div class="panel-body">

					<h:form class="form-horizontal adminex-form" method="get"
						enctype="multipart/form-data" id="inputForm">
						<div class="form-group">
							<label class="col-sm-2 col-sm-2 control-label">Login</label>
							<div class="col-sm-10">
								<input class="form-control" type="text"
									jsf:value="#{auth.admin.login}" />
							</div>
						</div>

						<div class="form-group">
							<label for="exampleInputEmail1">Email address</label> <input
								class="form-control" id="exampleInputEmail1"
								placeholder="Enter email" type="email"
								jsf:value="#{auth.admin.email}" />
						</div>

						<div class="form-group">
							<label class="col-sm-2 col-sm-2 control-label">First Name</label>
							<div class="col-sm-10">
								<input class="form-control" type="text"
									jsf:value="#{auth.admin.firstName}" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 col-sm-2 control-label">Last Name</label>
							<div class="col-sm-10">
								<input class="form-control" type="text"
									jsf:value="#{auth.admin.lastName}" />
							</div>
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Password</label> <input
								class="form-control" id="exampleInputPassword1"
								placeholder="Password" type="password"
								jsf:value="#{auth.admin.password}" />
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1"> Repeat Password</label> <input
								class="form-control" id="exampleInputPassword1"
								placeholder="Password" type="password"
								jsf:value="#{auth.confPass}" />
						</div>


						<h:commandButton id="submit" action="#{auth.doUpdateAdmin()}"
							styleClass="center btn btn-success" value="Modify" />





					</h:form>
				</div>
				</section>
			</div>
		</div>
		






	</ui:define>
</ui:composition>