<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<!-- Placed js at the end of the document so the pages load faster -->
	<h:outputScript name="js/jquery-1.10.2.min.js"></h:outputScript>
	<h:outputScript name="js/jquery-ui-1.9.2.custom.min.js"></h:outputScript>
	<h:outputScript name="js/jquery-migrate-1.2.1.min.js"></h:outputScript>
	<h:outputScript name="js/bootstrap.min.js"></h:outputScript>
	<h:outputScript name="js/modernizr.min.js"></h:outputScript>
	<h:outputScript name="js/jquery.nicescroll.js"></h:outputScript>

	<!--easy pie chart-->
	<h:outputScript name="js/easypiechart/jquery.easypiechart.js"></h:outputScript>
	<h:outputScript name="js/easypiechart/easypiechart-init.js"></h:outputScript>

	<!--Sparkline Chart-->
	<h:outputScript name="js/sparkline/jquery.sparkline.js"></h:outputScript>
	<h:outputScript name="js/sparkline/sparkline-init.js"></h:outputScript>

	<!--icheck -->
	<h:outputScript name="js/iCheck/jquery.icheck.js"></h:outputScript>
	<h:outputScript name="js/icheck-init.js"></h:outputScript>

	<!-- jQuery Flot Chart-->
	<h:outputScript name="js/flot-chart/jquery.flot.js"></h:outputScript>
	<h:outputScript name="js/flot-chart/jquery.flot.tooltip.js"></h:outputScript>
	<h:outputScript name="js/flot-chart/jquery.flot.resize.js"></h:outputScript>
	<h:outputScript name="js/flot-chart/jquery.flot.pie.resize.js"></h:outputScript>
	<h:outputScript name="js/flot-chart/jquery.flot.selection.js"></h:outputScript>
	<h:outputScript name="js/flot-chart/jquery.flot.stack.js"></h:outputScript>
	<h:outputScript name="js/flot-chart/jquery.flot.time.js"></h:outputScript>
	<h:outputScript name="js/main-chart.js"></h:outputScript>

	<!--common h:outputScripts for all pages-->
	<h:outputScript name="js/scripts.js"></h:outputScript>


</ui:composition>