<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<meta name="keywords"
		content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3" />
	<meta name="description" content="" />
	<meta name="author" content="ThemeBucket" />


 <h:outputStylesheet name="js/advanced-datatable/css/demo_page.css"  />
  <h:outputStylesheet name="js/advanced-datatable/css/demo_table.css"  />
  <h:outputStylesheet name="js/data-tables/DT_bootstrap.css" />
	<link rel="stylesheet"
		href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
	<link rel="stylesheet"
		href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />
	<h:outputStylesheet name="js/morris-chart/morris.css" />
	<h:outputStylesheet name="css/style-responsive.css" />

	<link rel="stylesheet"
		href="//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic" />
	<h:outputStylesheet name="css/custom-ico-fonts.css.css" />
	<h:outputStylesheet name="css/jquery-ui-1.10.3.css" />
	
	<h:outputStylesheet name="css/bootstrap.min.css" />
	<h:outputStylesheet name="css/bootstrap-reset.css" />
	
	
	
  <h:outputStylesheet name="js/iCheck/skins/minimal/minimal.css" />
    <h:outputStylesheet name="js/iCheck/skins/minimal/red.css" />
    <h:outputStylesheet name="js/iCheck/skins/minimal/green.css" />
    <h:outputStylesheet name="js/iCheck/skins/minimal/blue.css" />
    <h:outputStylesheet name="js/iCheck/skins/minimal/yellow.css" />
    <h:outputStylesheet name="js/iCheck/skins/minimal/purple.css" />

    <h:outputStylesheet name="js/iCheck/skins/square/square.css" />
    <h:outputStylesheet name="js/iCheck/skins/square/red.css" />
    <h:outputStylesheet name="js/iCheck/skins/square/green.css" />
    <h:outputStylesheet name="js/iCheck/skins/square/blue.css" />
    <h:outputStylesheet name="js/iCheck/skins/square/yellow.css" />
    <h:outputStylesheet name="js/iCheck/skins/square/purple.css" />

    <h:outputStylesheet name="js/iCheck/skins/flat/grey.css" />
    <h:outputStylesheet name="js/iCheck/skins/flat/red.css" />
    <h:outputStylesheet name="js/iCheck/skins/flat/green.css" />
    <h:outputStylesheet name="js/iCheck/skins/flat/blue.css" />
    <h:outputStylesheet name="js/iCheck/skins/flat/yellow.css" />
    <h:outputStylesheet name="js/iCheck/skins/flat/purple.css" />
	<h:outputStylesheet name="js/iCheck/skins/minimal/minimal.css" />
	<h:outputStylesheet name="js/iCheck/skins/square/square.css" />
	<h:outputStylesheet name="js/iCheck/skins/square/red.css" />
	<h:outputStylesheet name="js/iCheck/skins/square/blue.css" />
	<h:outputStylesheet name="css/clndr.css" />
	<h:outputStylesheet name="css/style.css" />
	<h:outputStylesheet name="css/owl.carousel.css"/>
  <h:outputStylesheet name="css/owl.theme.css" />
  <h:outputStylesheet name="css/bootstrap-fileupload.min.css" />
	
</ui:composition>