<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<!-- Placed js at the end of the document so the pages load faster -->
	

	
	
<h:outputScript name="js/jquery-1.10.2.min.js"></h:outputScript>
<h:outputScript name="js/jquery-ui-1.9.2.custom.min.js"></h:outputScript>
<h:outputScript name="js/jquery-migrate-1.2.1.min.js"></h:outputScript>
<h:outputScript name="js/bootstrap.min.js"></h:outputScript>
<h:outputScript name="js/modernizr.min.js"></h:outputScript>
<h:outputScript name="js/jquery.nicescroll.js"></h:outputScript>

<!--easy pie chart-->
<h:outputScript name="js/easypiechart/jquery.easypiechart.js"></h:outputScript>
<h:outputScript name="js/easypiechart/easypiechart-init.js"></h:outputScript>

<!--Sparkline Chart-->
<h:outputScript name="js/sparkline/jquery.sparkline.js"></h:outputScript>
<h:outputScript name="js/sparkline/sparkline-init.js"></h:outputScript>

<!--icheck -->
<h:outputScript name="js/iCheck/jquery.icheck.js"></h:outputScript>
<h:outputScript name="js/icheck-init.js"></h:outputScript>
<!--Morris Chart-->
<h:outputScript name="js/morris-chart/morris.js"></h:outputScript>
<h:outputScript name="js/morris-chart/raphael-min.js"></h:outputScript>
<h:outputScript name="js/morris-chart/morris.init.js"></h:outputScript>
<h:outputScript name="js/ios-switch/switchery.js" ></h:outputScript>
<h:outputScript name="js/ios-switch/ios-init.js" ></h:outputScript>
<!-- jQuery Flot Chart-->
<h:outputScript name="js/flot-chart/jquery.flot.js"></h:outputScript>
<h:outputScript name="js/flot-chart/jquery.flot.tooltip.js"></h:outputScript>
<h:outputScript name="js/flot-chart/jquery.flot.resize.js"></h:outputScript>
<h:outputScript name="js/flot-chart/jquery.flot.pie.resize.js"></h:outputScript>
<h:outputScript name="js/flot-chart/jquery.flot.selection.js"></h:outputScript>
<h:outputScript name="js/flot-chart/jquery.flot.stack.js"></h:outputScript>
<h:outputScript name="js/flot-chart/jquery.flot.time.js"></h:outputScript>
<h:outputScript name="js/flot.chart.init.js"></h:outputScript>




<!--Calendar-->
<h:outputScript name="js/calendar/clndr.js"></h:outputScript>
<h:outputScript name="js/calendar/evnt.calendar.init.js"></h:outputScript>
<h:outputScript name="js/calendar/moment-2.2.1.js"></h:outputScript>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script  src="http://maps.google.com/maps/api/js?sensor=true"></script>
<h:outputScript name="js/google-map/gmaps.js"></h:outputScript>
<h:outputScript name="js/google-map/gmaps-init.js"></h:outputScript>

<h:outputScript name="js/ios-switch/ios-init.js" ></h:outputScript>
<!--dynamic table-->
<h:outputScript name="js/advanced-datatable/js/jquery.dataTables.js"></h:outputScript>
<h:outputScript name="js/data-tables/DT_bootstrap.js"></h:outputScript>
<!--dynamic table initialization -->
<h:outputScript name="js/dynamic_table_init.js"></h:outputScript>
<!--common h:outputScripts for all pages-->
<h:outputScript name="js/bootstrap-fileupload.min.js"></h:outputScript>
<!--tags input-->
<h:outputScript name="js/jquery-tags-input/jquery.tagsinput.js"></h:outputScript>
<h:outputScript name="js/tagsinput-init.js"></h:outputScript>
<!--bootstrap input mask-->
<h:outputScript name="js/bootstrap-inputmask/bootstrap-inputmask.min.js"></h:outputScript>
<!--Dashboard Charts-->
<h:outputScript name="js/dashboard-chart-init.js"></h:outputScript>
<!--ios7-->
<h:outputScript name="js/ios-switch/switchery.js" ></h:outputScript>
<h:outputScript name="js/ios-switch/ios-init.js" ></h:outputScript>

<!--icheck -->
<h:outputScript name="js/iCheck/jquery.icheck.js"></h:outputScript>
<h:outputScript name="js/icheck-init.js"></h:outputScript>
<!--multi-select-->
<h:outputScript name="js/jquery-multi-select/js/jquery.multi-select.js"></h:outputScript>
<h:outputScript name="js/jquery-multi-select/js/jquery.quicksearch.js"></h:outputScript>
<h:outputScript name="js/multi-select-init.js"></h:outputScript>
<!--spinner-->
<h:outputScript name="js/fuelux/js/spinner.min.js"></h:outputScript>
<h:outputScript name="js/spinner-init.js"></h:outputScript>
<!--file upload-->
<script  src="js/bootstrap-fileupload.min.js"></script>
<!--tags input-->
<h:outputScript name="js/jquery-tags-input/jquery.tagsinput.js"></h:outputScript>
<h:outputScript name="js/tagsinput-init.js"></h:outputScript>
<!--bootstrap input mask-->
<script type="text/javascript" src="js/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>

<h:outputScript name="js/scripts.js"></h:outputScript>



</ui:composition>