<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:c="http://java.sun.com/jstl/core">


	<!--body wrapper start-->
	<div class="wrapper">
		<div class="row">
			<div class="col-md-6">
				<!--statistics start-->
				<div class="row state-overview">
					<div class="col-md-6 col-xs-12 col-sm-6">
						<div class="panel purple">
							<div class="symbol">
								<i class="fa fa-gavel"></i>
							</div>
							#{company.doListAllCompany()}
							<div class="state-value">
								<div class="value">#{company.componyNumber}</div>
								<div class="title">Company Number</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-xs-12 col-sm-6">
						<div class="panel red">
							<div class="symbol">
								<i class="fa fa-tags"></i>
							</div>
							<div class="state-value">
								<div class="value">#{company.sectorNumber}</div>
								<div class="title">Sector Number</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row state-overview">
					<div class="col-md-6 col-xs-12 col-sm-6">
						<div class="panel blue">
							<div class="symbol">
								<i class="fa fa-money"></i>
							</div>
							<div class="state-value">
								<div class="value">#{company.bankcomponyNumber}</div>
								<div class="title">Bank Company</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-xs-12 col-sm-6">
						<div class="panel green">
							<div class="symbol">
								<i class="fa fa-eye"></i>
							</div>
							<div class="state-value">
								<div class="value">#{company.noncomponyNumber}</div>
								<div class="title">Other Company</div>
							</div>
						</div>
					</div>
				</div>
				<!--statistics end-->
			</div>
			<div class="col-md-6">
				<!--more statistics box start-->
				<div class="panel deep-purple-box">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-7 col-sm-7 col-xs-7">
								<div id="graph-donut" class="revenue-graph"></div>
								#{client.doMorisStat()}
								
								<h:form id="client">
									<h:inputHidden id="conn" value="#{client.conectedClient}" />
									<h:inputHidden id="disconn"
										value="#{client.disconnnectedClient}" />
									
									<h:selectManyListbox  style="display: none;" value="#{user.favFood3}" id="aaa">
										<f:selectItems value="#{user.favFood3Value}" var="f"
											itemLabel="#{f.foodLabel}" itemValue="#{f.foodValue}" />
									</h:selectManyListbox>
									
								</h:form>
							</div>

						</div>
					</div>
				</div>
				<!--more statistics box end-->
			</div>
		</div>


		<div class="row">
			<div class="col-sm-8">
				<section class="panel"> <header class="panel-heading">
				Line Chart <span class="tools pull-right"> <a
					href="javascript:;" class="fa fa-chevron-down"></a> <a
					href="javascript:;" class="fa fa-times"></a>
				</span> </header>
				<div class="panel-body">
					<div id="graph-line"></div>
				</div>
				</section>
			</div>

			<div class="col-md-4">
				<div class="panel">
					<div class="panel-body">
						<div class="calendar-block ">
							<div class="cal1"></div>
						</div>

					</div>
				</div>
			</div>

		</div>

		<div class="row">
			<div class="col-md-8">
				<div class="panel">
					<div class="panel-body extra-pad">
						<h4 class="pros-title">
							prospective <span>leads</span>
						</h4>
						<div class="row">
							<div class="col-sm-4 col-xs-4">
								<div id="p-lead-1"></div>
								<p class="p-chart-title">Laptop</p>
							</div>
							<div class="col-sm-4 col-xs-4">
								<div id="p-lead-2"></div>
								<p class="p-chart-title">iPhone</p>
							</div>
							<div class="col-sm-4 col-xs-4">
								<div id="p-lead-3"></div>
								<p class="p-chart-title">iPad</p>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">

				<div class="panel green-box">
					<div class="panel-body extra-pad">
						<div class="row">
							<div class="col-sm-6 col-xs-6">
								<div class="knob">
									<span class="chart" data-percent="79"> <span
										class="percent">79% <span class="sm">New Visit</span></span>
									</span>
								</div>
							</div>
							<div class="col-sm-6 col-xs-6">
								<div class="knob">
									<span class="chart" data-percent="56"> <span
										class="percent">56% <span class="sm">Bounce rate</span></span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="panel">
					<header class="panel-heading"> Best wallet value <span
						class="tools pull-right"> <a href="javascript:;"
						class="fa fa-chevron-down"></a> <a href="javascript:;"
						class="fa fa-times"></a>
					</span> </header>
					#{client.doBestClient()}

					<div class="panel-body">
						<ul class="goal-progress">



							<ui:repeat value="#{client.clients}" var="book">
								<li>
									<div class="prog-avatar">
										<h:graphicImage name="#{book.image}" alt="" />
									</div>
									<div class="details">
										<div class="title">
											<a href="#"><h:link
													value="#{book.firstName} #{book.lastName}" outcome="book">
													<f:param name="id" value="#{book.id}" />
												</h:link></a> - #{book.wallet.walletValue}
										</div>

										<div class="progress progress-xs">
											<div class="progress-bar progress-bar-success"
												role="progressbar" aria-valuenow="20" aria-valuemin="0"
												aria-valuemax="100" style="width:  #{book.age}%">
												<span class=""> #{book.age}%</span>
											</div>
										</div>
									</div>

								</li>
							</ui:repeat>

						</ul>
						<div class="text-center">
							<a href="#">View all Goals</a>
						</div>
					</div>

				</div>
			</div>
			<div class="col-md-4">
				<div class="panel">
					<header class="panel-heading"> Worst Wallet Values <span
						class="tools pull-right"> <a href="javascript:;"
						class="fa fa-chevron-down"></a> <a href="javascript:;"
						class="fa fa-times"></a>
					</span> </header>
					#{client.doWorstClient()}

					<div class="panel-body">
						<ul class="goal-progress">



							<ui:repeat value="#{client.decc}" var="book">
								<li>
									<div class="prog-avatar">
										<h:graphicImage name="#{book.image}" alt="" />
									</div>
									<div class="details">
										<div class="title">
											<a href="#"><h:link
													value="#{book.firstName} #{book.lastName}" outcome="book">
													<f:param name="id" value="#{book.id}" />
												</h:link></a> - #{book.wallet.walletValue}
										</div>

										<div class="progress progress-xs">
											<div class="progress-bar progress-bar-danger"
												role="progressbar" aria-valuenow="20" aria-valuemin="0"
												aria-valuemax="100" style="width:  #{book.age}%">
												<span class=""> #{book.age}%</span>
											</div>
										</div>
									</div>

								</li>
							</ui:repeat>

						</ul>
						<div class="text-center">
							<a href="#">View all Goals</a>
						</div>
					</div>

				</div>
			</div>
			
		</div>
		
            
	</div>
	<!--body wrapper end-->


	<ui:include src="/WEB-INF/template/importScriptHome.xhtml"></ui:include>
</ui:composition>
