<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

	<div class="page-heading">
		<h3>Flot Charts</h3>
		<ul class="breadcrumb">
			<li><a href="#">Charts</a></li>
			<li class="active">Flot Charts</li>
		</ul>
	</div>


	<div class="wrapper">
	
		<div class="row">
		 
			<div class="col-sm-6">
				
				<section class="panel"> <header class="panel-heading">
				Area Chart <span class="tools pull-right"><h:form> <a
					href="javascript:;" jsf:action="#{screeners.doUpdateScreeners(0)}" class="fa fa-chevron-#{screeners.screeners.get(0).active == 1 ? 'down' : 'up'}" ></a>
				</h:form></span> </header>
				<div class="panel-body" style="display: #{screeners.screeners.get(0).active == 1 ? 'block' : 'none'};">
					<div id="visitors-chart">
						<div id="visitors-container"
							style="width: 100%; height: 300px; text-align: center; margin: 0px auto; padding: 0px; position: relative;">
							<canvas height="300" width="1066"
								style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1066px; height: 300px;"
								class="flot-base"></canvas>
							<div
								style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"
								class="flot-text">
								<div
									style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"
									class="flot-x-axis flot-x1-axis xAxis x1Axis">
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 53px; top: 279px; left: 54px; text-align: center;">02:00</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 53px; top: 279px; left: 108px; text-align: center;">02:10</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 53px; top: 279px; left: 163px; text-align: center;">02:20</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 53px; top: 279px; left: 218px; text-align: center;">02:30</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 53px; top: 279px; left: 273px; text-align: center;">02:40</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 53px; top: 279px; left: 328px; text-align: center;">02:50</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 53px; top: 279px; left: 382px; text-align: center;">03:00</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 53px; top: 279px; left: 437px; text-align: center;">03:10</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 53px; top: 279px; left: 492px; text-align: center;">03:20</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 53px; top: 279px; left: 547px; text-align: center;">03:30</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 53px; top: 279px; left: 602px; text-align: center;">03:40</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 53px; top: 279px; left: 657px; text-align: center;">03:50</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 53px; top: 279px; left: 711px; text-align: center;">04:00</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 53px; top: 279px; left: 766px; text-align: center;">04:10</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 53px; top: 279px; left: 821px; text-align: center;">04:20</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 53px; top: 279px; left: 876px; text-align: center;">04:30</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 53px; top: 279px; left: 931px; text-align: center;">04:40</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 53px; top: 279px; left: 985px; text-align: center;">04:50</div>
								</div>
								<div
									style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"
									class="flot-y-axis flot-y1-axis yAxis y1Axis">
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 264px; left: 20px; text-align: right;">0</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 212px; left: 7px; text-align: right;">200</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 159px; left: 7px; text-align: right;">400</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 107px; left: 7px; text-align: right;">600</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 54px; left: 7px; text-align: right;">800</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 2px; left: 1px; text-align: right;">1000</div>
								</div>
								<div
									style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"
									class="flot-y-axis flot-y2-axis yAxis y2Axis">
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 264px; left: 1046px;">0</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 235px; left: 1046px;">100</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 206px; left: 1046px;">200</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 177px; left: 1046px;">300</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 148px; left: 1046px;">400</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 118px; left: 1046px;">500</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 89px; left: 1046px;">600</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 60px; left: 1046px;">700</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 31px; left: 1046px;">800</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 2px; left: 1046px;">900</div>
								</div>
							</div>
							<canvas height="300" width="1066"
								style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1066px; height: 300px;"
								class="flot-overlay"></canvas>
							<div class="legend">
								<div
									style="position: absolute; width: 75px; height: 40px; top: 17px; right: 35px; background-color: rgb(255, 255, 255); opacity: 0.85;">
								</div>
								<table
									style="position: absolute; top: 17px; right: 35px;; font-size: smaller; color: #545454">
									<tbody>
										<tr>
											<td class="legendColorBox"><div
													style="border: 1px solid #ccc; padding: 1px">
													<div
														style="width: 4px; height: 0; border: 5px solid rgb(101, 206, 167); overflow: hidden"></div>
												</div></td>
											<td class="legendLabel">Page View</td>
										</tr>
										<tr>
											<td class="legendColorBox"><div
													style="border: 1px solid #ccc; padding: 1px">
													<div
														style="width: 4px; height: 0; border: 5px solid rgb(66, 79, 99); overflow: hidden"></div>
												</div></td>
											<td class="legendLabel">Online User</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				</section>
			</div>



			<div class="col-sm-6">
				<section class="panel"> <header class="panel-heading">
				Real Time Chart <span class="tools pull-right"><h:form> <a
					href="javascript:;" jsf:action="#{screeners.doUpdateScreeners(1)}" class="fa fa-chevron-#{screeners.screeners.get(1).active == 1 ? 'down' : 'up'}"></a> 
			</h:form>	</span> </header>
				<div class="panel-body" style="display: #{screeners.screeners.get(1).active == 1 ? 'block' : 'none'};">
					<div id="reatltime-chart">
						<div id="reatltime-chartContainer"
							style="width: 100%; height: 300px; text-align: center; margin: 0px auto; padding: 0px; position: relative;">
							<canvas height="300" width="1066"
								style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1066px; height: 300px;"
								class="flot-base"></canvas>
							<div
								style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"
								class="flot-text">
								<div
									style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"
									class="flot-y-axis flot-y1-axis yAxis y1Axis">
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 280px; left: 14px; text-align: right;">0</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 252px; left: 7px; text-align: right;">10</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 224px; left: 7px; text-align: right;">20</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 196px; left: 7px; text-align: right;">30</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 168px; left: 7px; text-align: right;">40</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 140px; left: 7px; text-align: right;">50</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 112px; left: 7px; text-align: right;">60</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 84px; left: 7px; text-align: right;">70</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 56px; left: 7px; text-align: right;">80</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 28px; left: 7px; text-align: right;">90</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 0px; left: 1px; text-align: right;">100</div>
								</div>
							</div>
							<canvas height="300" width="1066"
								style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1066px; height: 300px;"
								class="flot-overlay"></canvas>
						</div>
					</div>
				</div>
				</section>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<section class="panel"> <header class="panel-heading">
				Pie Chart <span class="tools pull-right"> <h:form><a
					href="javascript:;" jsf:action="#{screeners.doUpdateScreeners(2)}" class="fa fa-chevron-#{screeners.screeners.get(2).active == 1 ? 'down' : 'up'}"></a> 
				</h:form></span> </header>
				<div class="panel-body" style="display: #{screeners.screeners.get(2).active == 1 ? 'block' : 'none'};">
					<div id="pie-chart" class="pie-chart">
						<div id="pie-chartContainer"
							style="width: 100%; height: 400px; text-align: left; padding: 0px; position: relative;">
							<canvas height="400" width="503"
								style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 503px; height: 400px;"
								class="flot-base"></canvas>
							<canvas height="400" width="503"
								style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 503px; height: 400px;"
								class="flot-overlay"></canvas>
							<div class="legend">
								<div
									style="position: absolute; width: 82px; height: 60px; top: 5px; right: 5px; background-color: rgb(255, 255, 255); opacity: 0.85;">
								</div>
								<table
									style="position: absolute; top: 5px; right: 5px;; font-size: smaller; color: #545454">
									<tbody>
										<tr>
											<td class="legendColorBox"><div
													style="border: 1px solid #ccc; padding: 1px">
													<div
														style="width: 4px; height: 0; border: 5px solid rgb(66, 79, 99); overflow: hidden"></div>
												</div></td>
											<td class="legendLabel">Paid Signup</td>
										</tr>
										<tr>
											<td class="legendColorBox"><div
													style="border: 1px solid #ccc; padding: 1px">
													<div
														style="width: 4px; height: 0; border: 5px solid rgb(101, 206, 167); overflow: hidden"></div>
												</div></td>
											<td class="legendLabel">Free Signup</td>
										</tr>
										<tr>
											<td class="legendColorBox"><div
													style="border: 1px solid #ccc; padding: 1px">
													<div
														style="width: 4px; height: 0; border: 5px solid rgb(134, 156, 179); overflow: hidden"></div>
												</div></td>
											<td class="legendLabel">Guest Signup</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				</section>
			</div>
			<div class="col-sm-6">
				<section class="panel"> <header class="panel-heading">
				Donut Chart <span class="tools pull-right"> <h:form><a
					href="javascript:;" jsf:action="#{screeners.doUpdateScreeners(3)}" class="fa fa-chevron-#{screeners.screeners.get(3).active == 1 ? 'down' : 'up'}" ></a></h:form> 
				</span> </header>
				<div class="panel-body"  style="display: #{screeners.screeners.get(3).active == 1 ? 'block' : 'none'};">
					<div id="pie-chart-donut" class="pie-chart">
						<div id="pie-donutContainer"
							style="width: 100%; height: 400px; text-align: left; padding: 0px; position: relative;">
							<canvas height="400" width="503"
								style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 503px; height: 400px;"
								class="flot-base"></canvas>
							<canvas height="400" width="503"
								style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 503px; height: 400px;"
								class="flot-overlay"></canvas>
							<div class="legend">
								<div
									style="position: absolute; width: 108px; height: 80px; top: 5px; right: 5px; background-color: rgb(255, 255, 255); opacity: 0.85;">
								</div>
								<table
									style="position: absolute; top: 5px; right: 5px;; font-size: smaller; color: #545454">
									<tbody>
										<tr>
											<td class="legendColorBox"><div
													style="border: 1px solid #ccc; padding: 1px">
													<div
														style="width: 4px; height: 0; border: 5px solid rgb(134, 156, 179); overflow: hidden"></div>
												</div></td>
											<td class="legendLabel">Premium Member</td>
										</tr>
										<tr>
											<td class="legendColorBox"><div
													style="border: 1px solid #ccc; padding: 1px">
													<div
														style="width: 4px; height: 0; border: 5px solid rgb(109, 197, 163); overflow: hidden"></div>
												</div></td>
											<td class="legendLabel">Gold Member</td>
										</tr>
										<tr>
											<td class="legendColorBox"><div
													style="border: 1px solid #ccc; padding: 1px">
													<div
														style="width: 4px; height: 0; border: 5px solid rgb(119, 138, 159); overflow: hidden"></div>
												</div></td>
											<td class="legendLabel">Platinum Member</td>
										</tr>
										<tr>
											<td class="legendColorBox"><div
													style="border: 1px solid #ccc; padding: 1px">
													<div
														style="width: 4px; height: 0; border: 5px solid rgb(255, 108, 96); overflow: hidden"></div>
												</div></td>
											<td class="legendLabel">Silver Member</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				</section>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<section class="panel"> <header class="panel-heading">
				Combined Chart <span class="tools pull-right"><h:form> <a
					href="javascript:;" jsf:action="#{screeners.doUpdateScreeners(4)}" class="fa fa-chevron-#{screeners.screeners.get(4).active == 1 ? 'down' : 'up'}"></a></h:form> </span></header>
				<div class="panel-body" style="display: #{screeners.screeners.get(4).active == 1 ? 'block' : 'none'};">
					<div id="combine-chart">
						<div id="legendcontainer26" class="legend-block">
							<table style="font-size: smaller; color: #545454">
								<tbody>
									<tr>
										<td class="legendColorBox"><div
												style="border: 1px solid #000000; padding: 1px">
												<div
													style="width: 4px; height: 0; border: 5px solid rgb(109, 197, 163); overflow: hidden"></div>
											</div></td>
										<td class="legendLabel">Last 24 Hours</td>
										<td class="legendColorBox"><div
												style="border: 1px solid #000000; padding: 1px">
												<div
													style="width: 4px; height: 0; border: 5px solid rgb(134, 156, 179); overflow: hidden"></div>
											</div></td>
										<td class="legendLabel">Last 48 Hours</td>
										<td class="legendColorBox"><div
												style="border: 1px solid #000000; padding: 1px">
												<div
													style="width: 4px; height: 0; border: 5px solid rgb(87, 157, 130); overflow: hidden"></div>
											</div></td>
										<td class="legendLabel">Difference</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div id="combine-chartContainer"
							style="width: 100%; height: 300px; text-align: center; margin: 0px auto; padding: 0px; position: relative;">
							<canvas height="300" width="1066"
								style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1066px; height: 300px;"
								class="flot-base"></canvas>
							<div
								style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"
								class="flot-text">
								<div
									style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"
									class="flot-x-axis flot-x1-axis xAxis x1Axis">
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 44px; top: 279px; left: 22px; text-align: center;">22h</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 44px; top: 279px; left: 107px; text-align: center;">00h</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 44px; top: 279px; left: 192px; text-align: center;">02h</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 44px; top: 279px; left: 278px; text-align: center;">04h</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 44px; top: 279px; left: 363px; text-align: center;">06h</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 44px; top: 279px; left: 449px; text-align: center;">08h</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 44px; top: 279px; left: 534px; text-align: center;">10h</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 44px; top: 279px; left: 619px; text-align: center;">12h</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 44px; top: 279px; left: 705px; text-align: center;">14h</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 44px; top: 279px; left: 790px; text-align: center;">16h</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 44px; top: 279px; left: 876px; text-align: center;">18h</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 44px; top: 279px; left: 961px; text-align: center;">20h</div>
								</div>
								<div
									style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"
									class="flot-y-axis flot-y1-axis yAxis y1Axis">
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 264px; left: 20px; text-align: right;">0</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 211px; left: 7px; text-align: right;">200</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 158px; left: 7px; text-align: right;">400</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 106px; left: 7px; text-align: right;">600</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 53px; left: 7px; text-align: right;">800</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 0px; left: 1px; text-align: right;">1000</div>
								</div>
							</div>
							<canvas height="300" width="1066"
								style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1066px; height: 300px;"
								class="flot-overlay"></canvas>
						</div>
					</div>
				</div>
				</section>
			</div>

			<div class="col-sm-6">
				<section class="panel"> <header class="panel-heading">
				Toggle Chart <span class="tools pull-right"><h:form> <a
					href="javascript:;" jsf:action="#{screeners.doUpdateScreeners(5)}" class="fa fa-chevron-#{screeners.screeners.get(5).active == 1 ? 'down' : 'up'}" ></a>
				</h:form></span> </header>
				<div class="panel-body" style="display: #{screeners.screeners.get(5).active == 1 ? 'block' : 'none'};">
					<div id="toggle-chart">
						<div class="clearfix">
							<form class="form-horizontal pull-left chart-control">
								<div class="control-group">
									<label class="control-label">Chart Type :</label>
									<div class="series-list">
										<label class="checkbox inline"> <input id="chartType1"
											checked="checked" name="ct" value="line" type="radio" /> Line Chart
										</label> <label class="checkbox inline"> <input
											id="chartType2" name="ct" value="bar" type="radio" /> Bar
											Chart
										</label>
									</div>
								</div>
							</form>
							<form
								class="form-horizontal chart-control pull-right chart-control">
								<div class="control-group ">
									<label class="control-label"> Toggle series :</label>
									<div class="series-list">
										<label class="checkbox inline"> <input id="cbdata1"
											checked="" type="checkbox" /> data1
										</label> <label class="checkbox inline"> <input id="cbdata2"
											checked="" type="checkbox" /> data2
										</label> <label class="checkbox inline"> <input id="cbdata3"
											checked="" type="checkbox" /> data3
										</label>
									</div>
								</div>
							</form>
						</div>
						<div id="legendPlaceholder20"></div>
						<div id="toggle-chartContainer"
							style="width: 100%; height: 300px; text-align: left; padding: 0px; position: relative;">
							<canvas height="300" width="1066"
								style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1066px; height: 300px;"
								class="flot-base"></canvas>
							<div
								style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"
								class="flot-text">
								<div
									style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"
									class="flot-x-axis flot-x1-axis xAxis x1Axis">
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 96px; top: 279px; left: 118px; text-align: center;">10</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 96px; top: 279px; left: 221px; text-align: center;">20</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 96px; top: 279px; left: 325px; text-align: center;">30</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 96px; top: 279px; left: 428px; text-align: center;">40</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 96px; top: 279px; left: 532px; text-align: center;">50</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 96px; top: 279px; left: 635px; text-align: center;">60</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 96px; top: 279px; left: 739px; text-align: center;">70</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 96px; top: 279px; left: 842px; text-align: center;">80</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 96px; top: 279px; left: 946px; text-align: center;">90</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; max-width: 96px; top: 279px; left: 1047px; text-align: center;">100</div>
								</div>
								<div
									style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"
									class="flot-y-axis flot-y1-axis yAxis y1Axis">
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 264px; left: 20px; text-align: right;">0</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 220px; left: 7px; text-align: right;">200</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 176px; left: 7px; text-align: right;">400</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 132px; left: 7px; text-align: right;">600</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 88px; left: 7px; text-align: right;">800</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 44px; left: 1px; text-align: right;">1000</div>
									<div class="flot-tick-label tickLabel"
										style="position: absolute; top: 0px; left: 1px; text-align: right;">1200</div>
								</div>
							</div>
							<canvas height="300" width="1066"
								style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1066px; height: 300px;"
								class="flot-overlay"></canvas>
						</div>
					</div>
				</div>
				</section>
			</div>
		</div>



	</div>
	<!--body wrapper end-->

	<ui:include src="/WEB-INF/template/importScriptScreeners.xhtml"></ui:include>
</ui:composition>
