<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

	<!--body wrapper start-->
	<div class="wrapper">
		<div class="mail-box">
			<aside class="mail-nav mail-nav-bg-color"> <header
				class="header">
			<h4>Mailbox</h4>
			</header>
			<div class="mail-nav-body">
				<div class="text-center">
					<a class="btn btn-compose" href="mail_compose.html"> Compose
						Mail </a>
				</div>
				<ul class="nav nav-pills nav-stacked mail-navigation">
					<li class="active"><a href="mail.html"> <i
							class="fa fa-inbox"></i> Inbox <span
							class="label label-danger pull-right inbox-notification">4</span></a></li>
					<li><a href="#"> <i class="fa fa-certificate"></i>
							Important
					</a></li>
				</ul>


			</div>

			</aside>
			<section class="mail-box-info"> <header class="header">

			<div class="btn-toolbar">
				<div class="btn-group">
					<button class="btn btn-sm btn-primary">
						<i class="fa fa-refresh"></i>
					</button>
				</div>


			</div>

			</header> <section class="mail-list">
			<ul class="list-group ">

				<ui:repeat value="#{claims.claims}" rules="all" var="book">
					<li class="list-group-item"><span class="pull-left chk">
							<input type="checkbox" />
					</span> <a class="thumb pull-left" href="#"> <h:graphicImage
								name="#{book.client.image}" alt="" />
					</a> <h:link outcome="claimsinfoPub" includeViewParams="true">
							<f:param name="claimId" value="#{book.id}"></f:param>
							<small class="pull-right text-muted">#{book.date_claim}</small>
							<strong>#{book.client.firstName} #{book.client.lastName}</strong>
							<span>#{book.message}</span>
							<span class="label label-sm btn-success">normal</span>
						</h:link></li>

				</ui:repeat>

			</ul>
			</section> </section>
		</div>

	</div>

	<ui:include src="/WEB-INF/template/importScriptIndex.xhtml"></ui:include>
</ui:composition>
