<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

	<!--body wrapper start-->
	<div class="wrapper">
		<div class="mail-box">
			<aside class="mail-nav mail-nav-bg-color"> <header
				class="header">
			<h4>Mailbox</h4>
			</header>
			<div class="mail-nav-body">
				<div class="text-center">
					<a class="btn btn-compose" href="mail_compose.html"> Compose
						Mail </a>
				</div>
				<ul class="nav nav-pills nav-stacked mail-navigation">
					<li class="active"><a href="mail.html"> <i
							class="fa fa-inbox"></i> Inbox <span
							class="label label-danger pull-right inbox-notification"></span></a></li>
					<li><a href="#"> <i class="fa fa-certificate"></i>
							Important
					</a></li>
				</ul>


			</div>

			</aside>
			<section class="mail-box-info"> <header class="header">
			<div class="compose-btn pull-right">
				<button class="btn btn-primary btn-sm">
					<i class="fa fa-check"></i> Send
				</button>
				
			</div>
			<div class="btn-toolbar">
				<h4 class="pull-left">Compose Mail</h4>
			</div>

			</header> <section class="mail-list">
			<div class="compose-mail">
				<h:form role="form-horizontal" method="post">
					<div class="form-group">
						<label for="to" class="">To:</label> <input tabindex="1" id="to" jsf:id="mailConfId" jsf:value="#{curclaim.claims.client.mail}"
							class="form-control" type="text" />

							
					</div>

					

					<div class="form-group">
						<label for="subject" class="">Subject:</label> <input tabindex="1" jsf:id="mailSubjectConfId" jsf:value="#{sendMailBean.subject}"
							id="subject" class="form-control" type="text" />
					</div>
						
					<div class="compose-editor">
						
						<textarea  class="wysihtml5 form-control"
							rows="9"  jsf:id="mailMessageConfId" jsf:value="#{sendMailBean.message}"    ></textarea>
						
					</div>
					<hr/>
						<div class="compose-btn">
							
							<h:commandButton id="SubmitSendId" type="submit"
								styleClass="btn btn-success"
								value="Send " action="#{sendMailBean.sendMail(curclaim.claims.client.mail,sendMailBean.subject,sendMailBean.message)}">
						<i class="fa fa-check"></i>
							</h:commandButton>
						</div>
				</h:form>
			</div>
			</section> </section>
		</div>

	</div>

	<ui:include src="/WEB-INF/template/importScriptIndex.xhtml"></ui:include>
</ui:composition>
