<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

	<ui:repeat var="bank" value="#{Bank.nonbankcompanies}">
		<div class="NONBANK item " style="height: 162px;">
			<h:link pt:href="#myModal" pt:data-toggle="modal" >
				<div class="panel-body">
					<h4
						style="color: cadetblue; font-style: oblique; font-family: -webkit-pictograph; font-size: 20px;">
						#{bank.name} <span class="text-muted small"></span>
					</h4>
					<div class="media">
						<div class="media-body">
							<address>
								#{bank.address} <abbr title="Phone">P:</abbr> #{bank.phone}
							</address>

						</div>
					</div>
				</div>
			</h:link>
		</div>
					<!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="#{bank.id}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                            <h4 class="modal-title">Company </h4>
                                        </div>

                                        <div class="modal-body row">

                                            <div class="col-md-5 img-modal">
                                                <a href="#" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit Image</a>
                                                <a href="#" class="btn btn-white btn-sm"><i class="fa fa-eye"></i> View Full Size</a>

                                                <p class="mtop10"><strong>Company Name:</strong> #{bank.name}</p>
                                                <p><strong>Address:</strong> #{bank.address}</p>
                                                <p><strong>Phone</strong> #{bank.phone}</p>
                                                <p><strong>BOSS</strong> <a href="#">#{bank.leadership}</a></p>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="form-group">
                                                    <label> Name</label>
                                                </div>
                                                <div class="form-group">
                                                    <label> Tittle Text</label>
                                                </div>
                                                <div class="form-group">
                                                    <label> Description</label>
                                                    <textarea rows="2" class="form-control"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label> Link URL</label>
                                                </div>
                                                <div class="pull-right">
                                                    <button class="btn btn-danger btn-sm" type="button">Delete</button>
                                                    <button class="btn btn-success btn-sm" type="button">Save changes</button>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- modal -->
	</ui:repeat>

	<ui:include src="/WEB-INF/template/importScriptIndex.xhtml"></ui:include>
</ui:composition>