<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">
	<!--body wrapper start-->
	<div class="wrapper">




		<div class="row">
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-12">
						<div class="panel">
							<div class="panel-body">
								<div class="profile-pic text-center">
									<h:graphicImage name="#{singelClientManagedBean.client.image}" />
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="panel">
							<div class="panel-body">
								<ul class="p-info">
									<li>
										<div class="title">First Name</div>
										<div class="desk">
											<h:outputText
												value="#{singelClientManagedBean.client.firstName}" />
										</div>
									</li>
									<li>
										<div class="title">Last Name</div>
										<div class="desk">
											<h:outputText
												value="#{singelClientManagedBean.client.lastName}" />
										</div>
									</li>
									<li>
										<div class="title">Gender</div>
										<div class="desk">
											<h:outputText
												value="#{singelClientManagedBean.client.gender}" />
										</div>
									</li>
									<li>
										<div class="title">Last connection date</div>
										<div class="desk">
											<h:outputText
												value="#{singelClientManagedBean.client.lastConnectionDate}" />
										</div>
									</li>
									<li>
										<div class="title">Account state</div>
										<div class="desk">
											<h:outputText value="#{singelClientManagedBean.validity}"></h:outputText>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-12"></div>
					<div class="col-md-12"></div>
					<div class="col-md-12">
						<div class="panel">
							<div class="panel-body p-states">
								<div class="summary pull-left">
									<h4>
										Wallet <span>Value</span>
									</h4>
									<h3>
										$
										<h:outputText value="#{singelClientManagedBean.walletValue}"></h:outputText>
									</h3>
								</div>
								<div id="expense2" class="chart-bar"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-12">
						<div class="panel">
							<header class="panel-heading"> Last Operations <span
								class="tools pull-right"> 
							</span> </header>
							<div class="panel-body">
								<ul class="activity-list">
									<ui:repeat value="#{singelClientManagedBean.operations}"
										var="operation">
										<li>
											<div class="activity-desk">
												<p class="text-muted"><h4><a href="#"><strong>Operation Date</strong></a></h4></p>
												<p class="text-muted"><h3><span>#{operation.operationPk.operationDate}</span></h3></p>
												<h5>
													<a href="#">Operation</a> <span><h:outputText value="#{operation.state}" ></h:outputText></span>
												</h5>
												<p class="text-muted">Transaction Fee</p>  <a href="#">   $#{operation.transactionFee}</a>
												
											</div>
										</li>
									</ui:repeat>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>

	<ui:include src="/WEB-INF/template/importScript.xhtml"></ui:include>
</ui:composition>