<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<title><ui:insert name="pageTitle">Welcome</ui:insert></title>
	<ui:include src="/WEB-INF/template/imports.xhtml" />


</h:head>
<h:body>




	<section> <!-- left side start-->
	<div class="left-side sticky-left-side">

		<!--logo and iconic logo start-->
		<div class="logo">
			<a href="index.html"><h:graphicImage name="images/logo.png" /> </a>
		</div>

		<div class="logo-icon text-center">
			<a href="index.html"><h:graphicImage name="images/logo_icon.png"
					alt="" /></a>
		</div>
		<!--logo and iconic logo end-->

		<div class="left-side-inner">

			<!-- visible to small devices only -->
			<div class="visible-xs hidden-sm hidden-md hidden-lg">
				<div class="media logged-user">
					<img alt="" src="images/photos/user-avatar.png"
						class="media-object" />
					<div class="media-body">
						<h4>
							<a href="#">#{auth.admin.firstName}  #{auth.admin.lastName}</a>
						</h4>
						<span>"Hello There..."</span>
					</div>
				</div>

				<h5 class="left-nav-title">Account Information</h5>
				<ul class="nav nav-pills nav-stacked custom-nav">
					<li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
					<li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
					<li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign
								Out</span></a></li>
				</ul>
			</div>
<h:form>
			<!--sidebar nav start-->
			<ul class="nav nav-pills nav-stacked custom-nav">
				<li class="menu-list nav-active"><a href="index.html" jsf:action="/public/index2.xhtml?faces-redirect=true" ><i
						class="fa fa-home"></i> <span>Home</span></a></li>

				<li class="menu-list"><a href=""><i class="fa fa-user"></i>
						<span>Clients</span></a>
					<ul class="sub-menu-list">
						<li><a href="blank_page.html" jsf:action="/public/client.xhtml?faces-redirect=true"> Manage Clients</a></li>
						<li><a href="boxed_view.html" jsf:action="/public/clientInformation.xhtml?faces-redirect=true"> Clients Informations</a></li>
						<li><a href="leftmenu_collapsed_view.html" jsf:action="/public/mail.xhtml?faces-redirect=true">Clients Claims</a></li>


					</ul></li>
				<li class="menu-list"><a href=""><i class="fa fa-group"></i>
						<span>Companies</span></a>
					<ul class="sub-menu-list">
						<li><a href="general.html" jsf:action="/public/companyInformation.xhtml?faces-redirect=true">Companies Informations</a></li>
						<li><a href="buttons.html" > Manage Companies Sheet</a></li>
						<li><a href="tabs-accordions.html"  jsf:action="/public/ContentPub.xhtml?faces-redirect=true"> Contact Stake Holders</a></li>

					</ul></li>
				<li class="menu-list"><a href=""><i class="fa fa-eur"></i>
						<span>Currencies</span></a>
					<ul class="sub-menu-list">
						<li><a href="grids.html" jsf:action="/public/testAfficheCurrency.xhtml?faces-redirect=true"> Currencies List</a></li>
						<li><a href="gallery.html" jsf:action="/public/addCurrency.xhtml?faces-redirect=true"> Add Currency</a></li>


					</ul></li>



				<li><a href="" jsf:action="/public/listScreenersPub.xhtml?faces-redirect=true"><i class="fa fa-bar-chart-o"></i> <span>Screeners</span></a>
				</li>

				<li class="menu-list"><a href=""><i class="fa fa-envelope"></i>
						<span>Newsletters</span></a>
					<ul class="sub-menu-list">
						<li><a href="form_layouts.html" jsf:action="/public/AfficheNewsLetters.xhtml?faces-redirect=true"> Manage Newsletters</a></li>
						<li><a href="form_advanced_components.html" jsf:action="/public/FormAddNewsLetter.xhtml?faces-redirect=true"> Add
								Newsletters</a></li>
					</ul></li>
				<li>
							
							<h:link outcome="editProfil" includeViewParams="true">
							<f:param name="adminId" value="#{auth.admin.id}"></f:param>
							<i class="fa fa-file-text" ></i> <span>Edit
							Profil</span>
							
						</h:link></li>



				<li><a href=""><i class="fa fa-lock"></i> <span>Lockscreen</span></a>
				</li>
				<li><a href="login.html"><i class="fa fa-sign-in"></i> <span>Login
							out</span></a></li>

			</ul>
			</h:form>
			<!--sidebar nav end-->

		</div>
	</div>
	<!-- left side end--> <!-- main content start-->
	<div class="main-content">

		<!-- header section start-->
		<div class="header-section">

			<!--toggle button start-->
			<a class="toggle-btn"><i class="fa fa-bars"></i></a>
			<!--toggle button end-->

			<!--search start-->
			<form class="searchform" action="index.html" method="post">
				<input type="text" class="form-control" name="keyword"
					placeholder="Search here..." />
			</form>
			<!--search end-->

			<!--notification menu start -->
			<div class="menu-right">
				<ul class="notification-menu">
					<li><a href="#"
						class="btn btn-default dropdown-toggle info-number"
						data-toggle="dropdown"> <i class="fa fa-tasks"></i> <span
							class="badge">8</span>
					</a>
						<div class="dropdown-menu dropdown-menu-head pull-right">
							<h5 class="title">You have 8 pending task</h5>
							<ul class="dropdown-list user-list">
								<li class="new">

									<div class="task-info">
										<div>Database update</div>
									</div>
									<div class="progress progress-striped">
										<div style="width: 40%" aria-valuemax="100" aria-valuemin="0"
											aria-valuenow="40" role="progressbar"
											class="progress-bar progress-bar-warning">
											<span class="">40%</span>
										</div>
									</div>

								</li>
								<li class="new">

									<div class="task-info">
										<div>Dashboard done</div>
									</div>
									<div class="progress progress-striped">
										<div style="width: 90%" aria-valuemax="100" aria-valuemin="0"
											aria-valuenow="90" role="progressbar"
											class="progress-bar progress-bar-success">
											<span class="">90%</span>
										</div>
									</div>

								</li>
								<li>

									<div class="task-info">
										<div>Web Development</div>
									</div>
									<div class="progress progress-striped">
										<div style="width: 66%" aria-valuemax="100" aria-valuemin="0"
											aria-valuenow="66" role="progressbar"
											class="progress-bar progress-bar-info">
											<span class="">66% </span>
										</div>
									</div>

								</li>
								<li>

									<div class="task-info">
										<div>Mobile App</div>
									</div>
									<div class="progress progress-striped">
										<div style="width: 33%" aria-valuemax="100" aria-valuemin="0"
											aria-valuenow="33" role="progressbar"
											class="progress-bar progress-bar-danger">
											<span class="">33% </span>
										</div>
									</div>

								</li>
								<li>

									<div class="task-info">
										<div>Issues fixed</div>
									</div>
									<div class="progress progress-striped">
										<div style="width: 80%" aria-valuemax="100" aria-valuemin="0"
											aria-valuenow="80" role="progressbar" class="progress-bar">
											<span class="">80% </span>
										</div>
									</div>

								</li>
								<li class="new"><a href="">See All Pending Task</a></li>
							</ul>
						</div></li>
					<li><a href="#"
						class="btn btn-default dropdown-toggle info-number"
						data-toggle="dropdown"> <i class="fa fa-envelope-o"></i> <span
							class="badge">5</span>
					</a>
						<div class="dropdown-menu dropdown-menu-head pull-right">
							<h5 class="title">You have 5 Mails</h5>
							<ul class="dropdown-list normal-list">
								<li class="new"><a href=""> <span class="thumb"><h:graphicImage
												name="images/photos/user1.png" alt="" /></span> <span class="desc">
											<span class="name">#{auth.admin.firstName}  #{auth.admin.lastName} <span
												class="badge badge-success">new</span></span> <span class="msg">Lorem
												ipsum dolor sit amet...</span>
									</span>
								</a></li>
								<li><a href=""> <span class="thumb"><h:graphicImage
												name="images/photos/user2.png" alt="" /></span> <span class="desc">
											<span class="name">Jonathan Smith</span> <span class="msg">Lorem
												ipsum dolor sit amet...</span>
									</span>
								</a></li>
								<li><a href=""> <span class="thumb"><h:graphicImage
												name="images/photos/user3.png" alt="" /></span> <span class="desc">
											<span class="name">Jane Doe</span> <span class="msg">Lorem
												ipsum dolor sit amet...</span>
									</span>
								</a></li>
								<li><a href=""> <span class="thumb"><h:graphicImage
												name="images/photos/user4.png" alt="" /></span> <span class="desc">
											<span class="name">Mark Henry</span> <span class="msg">Lorem
												ipsum dolor sit amet...</span>
									</span>
								</a></li>
								<li><a href=""> <span class="thumb"><h:graphicImage
												name="images/photos/user5.png" alt="" /></span> <span class="desc">
											<span class="name">Jim Doe</span> <span class="msg">Lorem
												ipsum dolor sit amet...</span>
									</span>
								</a></li>
								<li class="new"><a href="">Read All Mails</a></li>
							</ul>
						</div></li>
					<li><a href="#"
						class="btn btn-default dropdown-toggle info-number"
						data-toggle="dropdown"> <i class="fa fa-bell-o"></i> <span
							class="badge">4</span>
					</a>
						<div class="dropdown-menu dropdown-menu-head pull-right">
							<h5 class="title">Notifications</h5>
							<ul class="dropdown-list normal-list">
								<li class="new"><a href=""> <span
										class="label label-danger"><i class="fa fa-bolt"></i></span> <span
										class="name">Server #1 overloaded. </span> <em class="small">34
											mins</em>
								</a></li>
								<li class="new"><a href=""> <span
										class="label label-danger"><i class="fa fa-bolt"></i></span> <span
										class="name">Server #3 overloaded. </span> <em class="small">1
											hrs</em>
								</a></li>
								<li class="new"><a href=""> <span
										class="label label-danger"><i class="fa fa-bolt"></i></span> <span
										class="name">Server #5 overloaded. </span> <em class="small">4
											hrs</em>
								</a></li>
								<li class="new"><a href=""> <span
										class="label label-danger"><i class="fa fa-bolt"></i></span> <span
										class="name">Server #31 overloaded. </span> <em class="small">4
											hrs</em>
								</a></li>
								<li class="new"><a href="">See All Notifications</a></li>
							</ul>
						</div></li>
					<li><a href="#" class="btn btn-default dropdown-toggle"
						data-toggle="dropdown"> <h:graphicImage
								name="images/photos/user-avatar.png" alt="" /> #{auth.admin.firstName}  #{auth.admin.lastName} <span
							class="caret"></span>
					</a>
						<ul class="dropdown-menu dropdown-menu-usermenu pull-right">
							<li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
							<li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
							<li><a href="#"><i class="fa fa-sign-out"></i> Log Out</a></li>
						</ul></li>

				</ul>
			</div>
			<!--notification menu end -->

		</div>
		<!-- header section end-->



		<!--body wrapper start-->
		<ui:insert name="pageContent"></ui:insert>
		<!--body wrapper end-->

		<!--footer section start-->
		<footer> 2014 AdminEx by ThemeBucket </footer>
		<!--footer section end-->


	</div>
	<!-- main content end--> </section>


</h:body>
</html>
